.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  width: 100%;
  padding: 20px;
  box-sizing: border-box;
}

.configurationPanelContainer {
  display: flex;
  justify-content: flex-end;
  width: 100%;

  @media (max-width: 680px) {
    font-size: 18px !important;
  }
}

.fontOptionsSelector {
  width: 185px;
  height: 50px;
}

.inputsContainer {
  display: flex;
  gap: 20px;
  width: 100%;

  @media (max-width: 680px) {
    flex-direction: column;
  }
}

.textFieldContainer {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.error {
  font-size: 16px;
}

.sequencesContainer {
  display: flex;
  justify-content: center;
  align-items: center;
}

.sequencesWrapper {
  position: relative;
  max-width: 600px;
}

.sequence {
  position: absolute;
  left: 0;
  word-break: break-all;
}

.referenceSequence {
  position: relative;
}
