.popoverPaper {
  width: 100%;
  padding: 16px;
}

.container {
  width: 100%;
}

.title {
  font-size: 28px !important;
}

.aminoGroupContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.groupsContainer {
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.groupItem {
  display: flex;
  align-items: center;
  width: 100%;

  @media (min-width: 600px) {
    width: calc(50% - 16px);
  }

  @media (min-width: 900px) {
    width: calc(33.333% - 16px);
  }
}

.aminoGroupSymbol {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  width: 24px;
  height: 24px;
  margin-right: 8px;
  border-radius: 4px;
  font-weight: bold;
  font-size: 20px;
}

.section {
  margin-top: 20px;
}

.aminoAcidsContainer {
  display: grid;
  gap: 16px;
  grid-template-columns: repeat(1, 1fr);
  margin: 0;
  padding: 0;
  list-style-type: none;

  @media (min-width: 600px) {
    grid-template-columns: repeat(2, 1fr);
  }

  @media (min-width: 900px) {
    grid-template-columns: repeat(3, 1fr);
  }

  @media (min-width: 1200px) {
    grid-template-columns: repeat(4, 1fr);
  }
}

.aminoAcidItem {
  display: flex;
  align-items: center;
}
