.sequencesList {
  position: relative;
  max-width: 600px;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.sequence {
  position: absolute;
  left: 0;
}

.referenceSequence {
  position: relative;
}
