.sequence {
  font-family: "Roboto Mono", Courier, monospace;
  word-break: break-all;
  overflow-wrap: break-word;
}

.sequence {
  position: absolute;
  left: 0;
}

.referenceSequence {
  position: relative;
}
